<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Quillify" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-white shadow-md">
      <nav class="container mx-auto px-6 py-4 flex justify-between items-center">
        <img src="/quill-logo.png" alt="Quillify Logo" class="h-10 w-10 rounded-xl">

        <div class="flex items-center space-x-4">
          <% if Current.user %>
            <span class="text-gray-700">Welcome,
              <%= Current.user.email_address %>!</span>

            <%= button_to "Sign Out",
            session_path,
            method: :delete,
            class: "text-gray-600 hover:text-blue-600" %>
          <% else %>
            <%= link_to "Log In", new_session_path, class: "text-gray-600 hover:text-blue-600" %>

            <%= link_to "Sign Up",
            register_path,
            class:
              "bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-700" %>
          <% end %>
        </div>
      </nav>
    </header>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
