<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Quillify" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <% if Current.user %>
      <div class="flex h-screen bg-gray-200">
        <div class="w-64 bg-white shadow-md flex flex-col">
          <div class="p-2">
            <img
              src="/quill-logo.png"
              alt="Quillify Logo"
              class="h-16 w-full object-cover rounded-xl"
            >
          </div>

          <nav class="mt-10">
            <%= link_to "Dashboard",
            dashboard_path,
            class: "block px-6 py-2.5 text-gray-600 hover:bg-blue-500 hover:text-white" %>

            <%= button_to "Sign Out",
            session_path,
            method: :delete,
            class:
              "w-full text-left block px-6 py-2.5 text-gray-600 hover:bg-red-500 hover:text-white cursor-pointer" %>
          </nav>

          <p class="text-gray-700 mt-auto p-6">
            <%= Current.user.email_address %>
          </p>
        </div>

        <div class="flex-1 flex flex-col overflow-hidden">
          <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200 p-6">
            <%= yield %>
          </main>
        </div>
      </div>
    <% else %>
      <main class="container mx-auto mt-28 px-5 flex flex-col items-center">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
